tp1/.terraform
tp1/.terraform/*
tp1/coursterraform2-0b47e8d27a62.json
tp2/tpterraformkube-aecc83bd2499.json
tp2/.terraform
tp2/.terraform/*
tp2/terraform.tfstate
tp2/terraform.tfstate.backup
tp3/terraform.tfstate
tp3/terraform.tfstate.backup
